.rhap_container.mashup-player{
    display: flex;
    justify-items: center;
    padding: 0.25em 0.75em;
    border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 0 !important;
  }
  
  .rhap_controls-section .rhap_volume-controls {
    justify-content: center;
  }